body {
    font-family: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

span.flag {
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    padding: 0.1em 0.3em;
    display: inline-block;
    border-radius: 0.2em;
}

.important {
    border: 1px solid green;
}

.urgent {
    border: 1px solid orange;
}

.detail-controls {
    float: right;
}

.controls {
    display: flex;
    align-content: space-between;
    gap: 2em;
}

.item-control {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    padding: 0.2em;
}

.item-control:hover {
    background-color: gray;
}