<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}WannaDo{%endblock%}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/png" href="/static/wannado-favicon.png"/>
</head>

<body>
    <script src="/static/common.js"></script>
    <header>
        <p>Things I want to do.</p>
        <nav>
            <a href="/" id="home"><img src="/static/icons/home.svg" /> Home</a>
            <a href="/item/new" id="new-item"><img src="/static/icons/add-item.svg" /> New Item</a>
            <a href="/deleted" id="deleted-items"><img src="/static/icons/archive.svg" />Deleted Items</a>
        </nav>
    </header>
    <main>
        {% block main %}{% endblock%}
    </main>
    <footer>
        <p>By <a href="https://nathanielknight.ca">Nat Knight ♘</a></p>
    </footer>
</body>

</html>