{% extends "base.html" %}

{% block main %}
<div class="controls detail-controls">
    <a href="/item/{{item.id}}" class="control"><button class="cancel"><img src="/static/icons/cancel.svg" />Cancel</button></a>
    <form class="delete-control" action="/item/{{item.id}}/delete" method="post">
        <button name="delete" onclick="return confirm(`Delete this item?`)">
            <img src="/static/icons/delete.svg" />Delete
        </button>
    </form>
    <button form="item"><img src="/static/icons/save.svg" />Save</button>
</div>

<form action="/item/{{item.id}}/edit" method="post" id="item">
    <label for="title">Title</label>
    <input type="text" name="title" value="{{item.title}}" />

    <p>Created {{item.created.to_rfc2822()}}</p>

    <div>
        <input type="checkbox" id="important" name="important" {%if item.important %}checked{% endif %} />
        <label for="important" class="important">Important</label>
        <input type="checkbox" id="urgent" name="urgent" {%if item.urgent %}checked{% endif %} />
        <label for="urgent" class="urgent">Urgent</label>
    </div>
    <label for="body">Body</label>
    <textarea name="body">{{item.body}}</textarea>
</form>
<script src="/static/editor.js"></script>
{% endblock %}