{% extends "base.html" %}

{% block main %}

<div class="item-list">
{% if important_and_urgent.len() > 0 %}

<h1>Important and Urgent</h1>
<ul>
    {% for item in important_and_urgent %}
    <li>{% include "item-control.html" %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if important.len() > 0 %}
<h1>Important</h1>
<ul>
    {% for item in important %}
    <li>{% include "item-control.html" %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if urgent.len() > 0 %}
<h1>Urgent</h1>
<ul>
    {% for item in urgent %}
    <li>{% include "item-control.html" %}</li>
    {% endfor %}
</ul>
{% endif %}

{% if other.len() > 0 %}
<h1>Other</h1>
<ul>
    {% for item in other %}
    <li>{% include "item-control.html" %}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<script src="/static/index.js"></script>
{% endblock %}