{% extends "base.html" %}

{% block main %}
<div class="controls detail-controls">
    <a href="/item/{{item.id}}/edit" class="edit-item"><button>Edit</button></a>
    <form action="/item/{{item.id}}/delete" class="delete-item" method="post">
        <input type="submit" value="Delete" name="delete"
            onclick="return confirm(`Delete this item?`)" />
    </form>
</div>

<h1>{{item.title}}</h1>

<p>
    {% if item.important %}<span class="flag important">important</span>{% endif %}
    {% if item.urgent %}<span class="flag urgent">urgent</span>{% endif %}
</p>
<p>Created {{item.created.to_rfc2822()}}</p>
{% if item.modified.is_some() %}
<p>Last modified {{item.modified.unwrap().to_rfc2822()}}</p>
{% endif %}

<hr />

<div>{{item.body|md|safe}}</div>

<script src="/static/item.js"></script>
{% endblock %}